<div id="buttonsContainer">

    <div class="technologyButton" id="jsButton" (click)="toggleTechnology('javascript')"
        [ngClass]="getStyleClasses('javascript')">
        <div class="buttonIcon" id="jsIcon"></div>
    </div>

    <div class="technologyButton" id="htmlButton" (click)="toggleTechnology('html')"
        [ngClass]="getStyleClasses('html')">
        <div class="buttonIcon" id="htmlIcon"></div>
    </div>

    <div class="technologyButton" id="cssButton" (click)="toggleTechnology('css')" [ngClass]="getStyleClasses('css')">
        <div class="buttonIcon" id="cssIcon"></div>
    </div>

    <div class="technologyButton" id="jqueryButton" (click)="toggleTechnology('jquery')"
        [ngClass]="getStyleClasses('jquery')">
        <div class="buttonIcon" id="jqueryIcon"></div>
    </div>

    <div class="technologyButton" id="angularButton" (click)="toggleTechnology('angular')"
        [ngClass]="getStyleClasses('angular')">
        <div class="buttonIcon" id="angularIcon"></div>
    </div>

    <div class="technologyButton" id="reactButton" (click)="toggleTechnology('react')"
        [ngClass]="getStyleClasses('react')">
        <div class="buttonIcon" id="reactIcon"></div>
    </div>

</div>